/* Fonts */

@font-face{
    font-family: 'Eagle Lake';
    src: url('./Fonts/Eagle_Lake/EagleLake-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans';
    src: url('./Fonts/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype'),
    url('./Fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
}


/* Scroll bar for Chrome, Edge and Safari */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}  

/* Scrollbar for FireFox */

body{
    scrollbar-width: 10px;
    scrollbar-color: #888 #f1f1f1;
}

/* Global styles */

body{
    margin: 0px;
}

#title{
    font-family: 'Eagle Lake';
}

header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    padding: 0px 15px 0px 15px ;
    background-color: black;
    color: white;
    border-bottom: #E88A1A 5px solid;
}

.nav{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.nav-btn{
  background-color: #CF3030;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: 'Work Sans';
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 90px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav-btn:focus {
  outline: 0;
}

.nav-btn:after {
  content: '';
  position: absolute;
  border: 2px solid #E88A1A;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.nav-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

/* Styles for the homepage */

#intro-title{
    font-family: 'Eagle Lake';
}

#intro-text{
    font-family: 'Work Sans';
    font-style: italic;
}




